{% extends "base.html" %}
{% load static humanize %}

{% block title %}Kruk As{% endblock %}

{% block content %}
<h2 class="home-page">Produk Kruk As</h2>

<div class="shop">
  {% for product in products %}
  <div class="card">
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
    {% else %}
      <img src="{% static 'users/images/Heads-default.jpg' %}" alt="{{ product.name }}">
    {% endif %}

    <h2 class="info-st">{{ product.name }}</h2>
    <p class="desc-st">{{ product.description }}</p>
    <p class="price">Rp {{ product.price|floatformat:0|intcomma }}</p>

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'checkout' product.id %}">
      {% csrf_token %}
      <button type="submit" onclick="openPopup()">Checkout</button>
    </form>
    {% else %}
      <button type="button" onclick="alert('Harus register & login terlebih dahulu sebelum checkout!')">
        Checkout
      </button>
    {% endif %}
  </div>
  {% empty %}
    <p>Tidak ada Kruk As tersedia.</p>
  {% endfor %}
</div>

<!-- Popup -->
<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close-btn" onclick="closePopup()">&times;</span>
    <h2>Terimakasih Telah berbelanja Head Silinder di kami</h2>
    <p class="info-checkout">
      Pesanan Berhasil, produk pilihanmu sedang kami siapkan.<br>
      Kami akan segera memprosesnya.<br>
      Terima kasih telah berbelanja bersama kami 😊
    </p>
    <button class="buy-button" type="button" onclick="closePopup()">Belanja Lagi</button>
  </div>
</div>
{% endblock %}
